<p class="TitleToTestimonial">Our Happy Customer Testimonial</p>

<div class="container" *ngFor="let Testimonial of TestimonialArray">
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <div class="face front-face">
          <img src="assets/images/logo.svg"
               alt="" class="profile">
          <div class="pt-3 text-uppercase name">
            {{Testimonial.userId}}
          </div>
        </div>
        <div class="face back-face">
          <span class="fas fa-quote-left"></span>
          <div class="testimonial">
            {{Testimonial.testimonialMessege}}
          </div>
          <span class="fas fa-quote-right"></span>
        </div>
      </div>
    </div>



  </div>
</div>
