.nav-link {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: #333;
  text-decoration: none;
}

  .nav-link i {
    margin-right: 8px; /* Add space between icon and text */
    font-size: 1.2rem; /* Adjust icon size */
  }

  .nav-link:hover {
    color: #007bff; /* Hover color */
  }

.cart-count {
  font-size: 0.9rem;
  color: #ff0000;
  margin-left: 5px;
  font-weight: bold;
}

.hamburger span {
  font-size: 1rem;
}

.hamburger img {
  width: 16px;
  height: 16px;
}
