	<!-- LOADER START HERE -->
<div class="page_loader">
  <img src="assets/images/transformation.webp" alt="img" loading="lazy">
</div>
<!-- LOADER END HERE -->
<!-- HEADER START FROM HERE -->
<header class="default-padding pt-0">
  <div class="container">
    <nav class="navbar navbar-expand-xxxl">

      <!-- Logo -->
      <a class="navbar-brand logo lh-0" href="index.html">
        <img src="assets/images/logo.svg" alt="Logo">
      </a>

      <!-- COLLAPSE MENU -->
      <div class="header_block">
        <div class="MobileView lh-0 mb-sm-5 mb-4 d-flex align-items-center justify-content-end">
          <a href="#!" class="closeBtn d-flex align-items-center">
            <p class="mb-0 pe-sm-3 pe-2">close</p>
            <div class="close-icon d-flex align-items-center justify-content-center">
              <span></span>
              <span></span>
            </div>
          </a>
        </div>
        <ul class="tabActive">
          <li>
            <a routerLink="">Home</a>
          </li>
          <li>
            <a routerLink="/NutritionPageOne">Nutrition</a>
          </li>
          <li>
            <a href="about-us.html">About us</a>
          </li>
          <li>
            <a href="#pricing">Pricing</a>
          </li>
          <li>
            <a href="gallery.html">Gallery</a>
          </li>
          <li>
            <a href="blog.html">Blogs</a>
          </li>
          <li>
            <a href="contact-us.html">Contact Us</a>
          </li>
          <li>
            <a routerLink="/Login">Login</a>
          </li>
          <li class="dropdown">
            <a href="#!" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Pages
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="404.html">404</a></li>
              <li><a class="dropdown-item" href="coming-soon.html">cooming soon</a></li>
              <li><a class="dropdown-item" href="site-map.html">sitemap</a></li>
            </ul>
          </li>
          <li class="d-lg-none d-flex">
            <a href="#!" class="btn_wrapper">get started</a>
          </li>
        </ul>
      </div>
      <div class="d-flex align-items-center gap-sm-4 gap-3">
        <!-- COLLAPSE BUTTON -->
        <button class="hamburger lh-0">
          <span>menu</span>
          <img src="assets/images/icon/toggle-icon.svg" alt="Icon" class="ps-2">
        </button>
        <a href="contact-us.html" class="btn_wrapper d-lg-flex d-none">Contact us</a>
      </div>
    </nav>
  </div>
</header>
<!-- HEADER END'S FROM HERE -->
