<head>
  <!-- Other meta tags and links -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  />
</head>
<header class="default-padding pt-0">

  <div class="container">
    <nav class="navbar navbar-expand-xxxl">
      <!-- Logo -->
      <a class="navbar-brand logo lh-0" href="index.html">
        <img src="assets/images/logo.svg" alt="Logo">
      </a>

      <div class="header_block">
        <div class="MobileView lh-0 mb-sm-5 mb-4 d-flex align-items-center justify-content-end">
          <a href="#" class="closeBtn d-flex align-items-center" (click)="onCloseClick($event)">
            <p class="mb-0 pe-sm-3 pe-2">close</p>
            <div class="close-icon d-flex align-items-center justify-content-center">
              <span></span>
              <span></span>
            </div>
          </a>
        </div>
        <ul class="tabActive">
          <li>
            <a routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/NutritionPageOne">Nutrition</a>
          </li>   <li class="nav-item">
                    <a class="nav-link" routerLink="/cart">cart</a>
          </li>
          <li>
            <a routerLink="/Login">Login</a>

          </li>
          <li>
            <a routerLink="/About">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/shop"> Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Recips">Recipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Contact">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Profile">Profile</a>
          </li>
          <li class="dropdown">
            <a href="#!" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Pages
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/404">404</a></li>
              <li><a class="dropdown-item" routerLink="/coming-soon">Coming Soon</a></li>
              <li><a class="dropdown-item" routerLink="/site-map">Sitemap</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/policies">Policies</a>
          </li>
        </ul>
      </div>


      
      <div class="d-flex align-items-center gap-sm-4 gap-3">
        <!-- Cart Icon -->
        <div class="d-flex align-items-center gap-sm-4 gap-3">
          <a routerLink="/cart" class="nav-link">
            <i class="fas fa-shopping-cart"></i>
            
          </a>
          <!-- Shopping Bag Icon -->
          <a routerLink="/shop" class="nav-link">
            <i class="fas fa-shopping-bag"></i>
          </a>


          <button class="hamburger lh-0">
            <span>menu</span>
            <img src="assets/images/icon/toggle-icon.svg" alt="Icon" class="ps-2">
          </button>
        </div>
        </div>
</nav>
  </div>
</header>
