<div class="product-details-wrapper">
  <div class="container">
    <!-- Breadcrumb Navigation -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/products']">Products</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ product.productName }}</li>
      </ol>
    </nav>


    <div class="product-header">
      <h1>{{ product.productName }}</h1>
    </div>


    <div class="product-details-container d-flex">
  
      <div class="product-image">
        <img *ngIf="product.image; else noImage" src="https://localhost:7072/images/" alt="{{ product.productName }}" class="img-fluid">
        <ng-template #noImage>
          <img src="assets/images/no-image-available.png" alt="No image available" class="img-fluid"> <!-- Placeholder image -->
        </ng-template>
      </div>

  
      <div class="product-info">
        <p class="product-description">{{ product.description }}</p>

    
        <div class="product-pricing">
          <strong class="price">${{ product.price | number: '1.2-2' }}</strong>
          <span *ngIf="product.discount" class="discount-badge">{{ product.discount }}% OFF</span>
        </div>


        <p class="stock-info">
          <strong>Stock Quantity:</strong>
          <input type="number" [(ngModel)]="cartItemObj.quantity" min="1" />
          <span [ngClass]="{'in-stock': product.stockQuantity > 0, 'out-of-stock': product.stockQuantity === 0}">
            {{ product.stockQuantity > 0 ? product.stockQuantity + ' available' : 'Out of stock' }}
          </span>
        </p>

      
        <div class="action-buttons">
          <button class="btn btn-primary btn-lg" (click)="addToCart(product.id, product.price, product.productName, product.image)" [disabled]="product.stockQuantity === 0">
            <i class="fas fa-cart-plus"></i> Add to Cart
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
