<div *ngIf="cartItems.length > 0; else emptyCart">
  <table class="table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cartItems">
        <td>{{ item.productName }}</td>
        <td><button (click)="minusQ(item.productId, item.id)">-</button><input type="number" value="{{item.quantity}}" readonly  [(ngModel)] ="test555"/><button (click)="incrimentQ(item.productId, item.id)">+</button></td>
        <td>${{ item.price * item.quantity | number: '1.2-2' }}</td>
        <td><button class="btn btn-danger" (click)="remove(item.productId, item.id)">Remove</button></td>
      </tr>
    </tbody>
  </table>

  <h3>Total: ${{ getCartTotal() | number: '1.2-2' }}</h3>
  <button class="btn btn-primary" (click)="goToPayment()">Proceed to Payment</button>
</div>

<ng-template #emptyCart>
  <p>Your cart is empty.</p>
</ng-template>
