<!-- زر Add Recipe Type -->
<button class="btn btn-success mb-0" [routerLink]="['/Dashboard/AddTips']">Add Tips</button>

<!-- الجدول -->
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tips Name</th>
      <th scope="col">tips Description</th>

      <th scope="col">Image</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of RecipeArray">
      <th scope="row">{{item.tipsId}}</th>
      <td>{{item.tipsName}}</td>
      <td>{{item.tipsDescription}}</td>
      <td>
        <a class="postcard__img_link">
          <img class="postcard__img"
               [src]="'https://localhost:7072/api/Recipe/getImages/' + item.tipsImage"
               [alt]="item.tipsImage"
               style="width: 100px; height: 100px;" /> <!-- تعديل حجم الصورة هنا -->
        </a>
      </td>
      <td>
        <!-- زر Edit -->
        <button class="btn btn-primary" [routerLink]="['/Dashboard/UpdateTipsAdmin', item.tipsId]">Edit</button>

        <!-- زر Delete -->
        <button class="btn btn-danger" (click)="delettips(item.tipsId)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

