<!-- زر Add Tips -->
<div>
  <button class="btn btn-success" style="width: 150px;" [routerLink]="['/Dashboard/AddTips']">Add Tips</button>
</div>
<!-- الجدول -->

<table class="table table-striped table-hover text-center" style="margin-top: 20px;">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Image</th>
      <th scope="col">Tips Name</th>
      <th scope="col">Tips Description</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of RecipeArray" style="vertical-align: middle;">
      <td>
        <a class="postcard__img_link">
          <img class="postcard__img"
               [src]="'https://localhost:7072/api/Recipe/getImages/' + item.tipsImage"
               [alt]="item.tipsImage"
               style="width: 120px; height: 120px; border-radius: 8px; object-fit: cover;" /> <!-- تعديل حجم الصورة وإضافة إطار دائري -->
        </a>
      </td>
      <td>{{item.tipsName}}</td>
      <td>{{item.tipsDescription}}</td>

      <td>
        <!-- زر Edit -->
        <button class="btn btn-secondary" style="width: 80px;" [routerLink]="['/Dashboard/UpdateTipsAdmin', item.tipsId]">Edit</button>

        <!-- زر Delete -->
        <button class="btn btn-danger" style="width: 80px;" (click)="delettips(item.tipsId)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>


