<div class="container">
  <h2>Category Management</h2>

  <!-- Add New Category Section -->
  <div class="add-category-section mb-4">
    <input type="text" class="form-control" [(ngModel)]="newCategory" placeholder="New Category Name">
    <input type="text" class="form-control mt-2" [(ngModel)]="description" placeholder="Description">
    <input type="text" class="form-control mt-2" [(ngModel)]="image" placeholder="Image URL">
    <button class="btn btn-primary mt-2" (click)="addCategory()">Add Category</button>
  </div>

  <!-- Categories List -->
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Category Name</th>
        <th>Description</th>
        <th>Image</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories">
        <td>{{ category.categoryName }}</td>
        <td>{{ category.description }}</td>
        <td>{{ category.image }}</td>
        <td>
          <button class="btn btn-danger" (click)="deleteCategory(category.id!)">Delete</button>

        </td>
      </tr>
    </tbody>
  </table>
</div>
